<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <title>EENGAGE</title>
</head>
<body>
    <h1>EENGAGE, Online EEG testing</h1>
    <form method="post" action="data:text/plain, Form submited.">
        <div>
          <input type="file">
        </div>    
        <input type="submit" value="Upload">
        <!-- <p><input type="submit" value="Upload"></p> -->
      </form>
</body>
</html>